:root {
  --white: #fff;
  --red: #bc022c;
  --flag-height: 300px;
}
html,
body {
  margin: 0;
  padding: 0;
  background: black;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.flag-japan {
  height: var(--flag-height);
  width: calc(var(--flag-height) * 3 / 2);
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle {
  height: calc(var(--flag-height) * 3 / 5);
  width: calc(var(--flag-height) * 3 / 5);
  background: var(--red);
  border-radius: 50%;
}
