/* Variables */
:root {
  --black: #282828;
  --blue: #2892f9;
  --red: #fb2f27;
  --yellow: #fdfe29;
}

html,
body {
  margin: 0;
  padding: 0;
}
.rings,
.ring {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rings .ring {
  border-radius: 50%;
}
.rings .circle-1 {
  height: 200px;
  width: 200px;
  background-color: var(--black);
}
.rings .circle-2 {
  height: 150px;
  width: 150px;
  background-color: var(--blue);
}
.rings .circle-3 {
  height: 100px;
  width: 100px;
  background-color: var(--red);
}
.rings .target {
  height: 50px;
  width: 50px;
  background-color: var(--yellow);
}
