/* Variables */
:root {
  --color-light: lightgray;
  --color-dark: darkgray;
}

/* Remove Default Stylying */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Circle Design */
.container {
  display: flex;
  align-items: center;
  justify-self: center;
}

.circle {
  height: 1.5em;
  width: 1.5em;
  background-color: var(--color-light);
  margin: 0.5em;
  border-radius: 50%;
  animation: pulse infinite alternate 1s;
}

@keyframes pulse {
  from {
    background: var(--color-dark);
  }
  to {
    background: var(--color-light);
    height: 1.6em;
    width: 1.6em;
  }
}
